@media screen and (max-width: 767px) {
.burger__line {
        width: 30px;
        height: 2px;
        background-color: #FFFFFF;
        margin: 0 0 10px;
        transition: 0.3s;
    }

.burger__line:last-child {
        margin: 0;
    }
}