.header__logo {
  width: 103.74px;
  height: 24.4px;
  margin: 0 auto 31.6px 27px;
}


@media screen and (min-width: 768px) {
  .header__logo {
    width: 142px;
    height: 33px;
    margin: 0 auto 41px 0;
  }
}