.header__auth {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;

    text-align: right;

    align-self: center;

    color: #A9A9A9;
}

@media screen and (min-width: 768px) {
    .header__auth {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 0 24px;
    }

}