.form__submit_auth {
    font-size: 16px;
    line-height: 19px;
    background-color: #FFFFFF;
    color: #000000;
    margin: 143px auto 0;
    width: 100%;

}

@media screen and (min-width: 768px) {
    .form__submit_auth{
        font-size: 18px;
        line-height: 22px;
        margin: 171px auto 0;
    }
}