@media screen and (max-width: 767px) {
    .header__burger {
        display: block;
        width: 30px;
        margin: 0 0 0 auto;
    }
    .header__burger_hidden {
        display: none;
    }
}
