.form__label {
  font-size: 10px;
  display: block;
  line-height: 17px;
  border: none;
  position: relative;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .form__label {
    font-size: 14px;
  }
  
}
.form__label:last-of-type {
  margin: 0 0 15px;
}