.header {
  display: flex;
  justify-content: space-between;
  padding: 28px 30px 31.6px;
  position: relative;
  border-bottom: 1px solid #545454;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 45px 100px 41px;
  }
}


