.form {
    max-width: 358px;
    width: 88%;
    background-color: #FFFFFF;
    margin: 34px 36px 36px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}